ProjectKiip/obj/*
ProjectKiip/bin/
ProjectKiip/bin/*
ExternalKiip/D3D9Interceptor/D3D9Wrapper/*.sdf
*.*sdf
*.sdf
ExternalKiip/D3D9Interceptor/D3D9Wrapper/Debug/*
ExternalKiip/D3D9Interceptor/D3D9Wrapper/ipch/*
*.exe
