<% if object.errors.any? %>
  <div id='error_explanation'>  
    <p>Oops, please check the following fields:</p>  
    <% object.errors.full_messages.each do |msg| %> 
    <p><%= msg %></p> 
    <% end %>
  </div>  
<% end %>  
