<h1><%= @title %></h1>
<p>We are a free video game streaming company. We firmly believe that gaming brings people happiness and that ought to have social and economic value. As such, we endeavor to reward our stream-gamers and stream-viewers with real-life goodies ranging from snacks, to cars, to straight up money.</p>
<p>But for now, we're still sewing the skirt around our code so we are not quite ready fully dressed yet.</p>
