<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ingidio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->

  <%= stylesheet_link_tag @a, :media => 'screen' %>
    <style type="text/css">
      body {
	background-image:url('../images/terran1.jpg');
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Ingido</a>
          <ul class="nav">
            <li class="active"><a href="#">Promotion</a></li>
            <li><a href="#about"></a></li>
            <li><a href="#contact"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome!</h1>
	<p>Let us take your brand to the next level!</p><br>
	<h2>Audience</h2>
	<p>
	<ul>
	
  	<li><p>59 Percent of US are Gamers</p></li>
  	<li><p>In Online Gaming, 90 Percent uses the PC</p></li>
  	<li><p>18-24 Males-262 Index</p></li>

	<li><p>~ 10 Million Unique Vistors</p></li>
	<li><p>1.2 Billion Minutes of Video in the US</p></li>
	<li><p>Smart Campaign Tracking Analytics</p></li>
	</p>
	</ul>
	<h2>Content</h2>
	<ul>
  	<li><p>Major Games That are Exicitng to Play, Fun to Watch, and Valuable for Brand Engagment</p></li>
	</ul>
	<h2>Solutions</h2>
        <p>We will work with you to find the best promotion solution for you. Your success is important to us and we want to understand your needs and tailor your solutions.</p>
	<h2>Contact</h2>
        <p>Please contact ingidio.tv@gmail.com for more information</p>
        <!--<p><a class="btn primary large">Learn more &raquo;</a></p>-->
      </div>

      <!-- Example row of columns -->
      <!--<div class="row">
        <div class="span-one-third">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>-->
	

    </div> <!-- /container -->

  </body>
</html>
